@use '../mixins/flexbox.scss' as*;
@use '../mixins/responsive.scss' as*;
@use '../functions/image.scss';
@use '../mixins/pseudo.scss' as*;



.about {
    position: relative;

    &__data {
        @include flexbox(flex, row-reverse, nowrap, space-between, baseline);
        position: relative;
        top: -100px;
        z-index: -1;
        height: 650px;
        padding: 9rem 3rem 0;
        background-color: var(--secondary-color);
        background-image: image.mobile('bg-mobile-about.svg');
        background-size: cover;
        background-repeat: no-repeat;

        @include responsive(tablet) {
            top: -150px;
            padding: 15rem 5rem 0;
            background-image: image.tablet('bg-tablet-about.svg');
        }

        @include responsive(laptop) {
            z-index: var(--z-index-10);
            width: 60rem;
            padding-right: 10rem;
            background-image: none;
            background-color: transparent;

        }
    }

    @include responsive(laptop) {
        @include flexbox(flex, row, nowrap, space-between, center);
        height: 800px;
        background-color: var(--secondary-color);
        background-image: image.desktop('bg-desktop-about.svg');
        background-size: cover;
        background-repeat: no-repeat;
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
    }
}