@use '../mixins/flexbox.scss' as*;
@use '../mixins/responsive.scss' as*;
@use '../functions/image.scss';
@use '../mixins/pseudo.scss' as*;

.image {
    position: relative;
    top: -100px;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);
    @include responsive(laptop){
        clip-path: none;
        position:static;
        width: 30%;
        z-index: 0;
    }
}

.about {
    &__data {
        @include flexbox(flex, row-reverse, nowrap, space-between, baseline);
        position: relative;
        top: -300px;
        z-index: -2;
        height: 750px;
        padding: 15rem 3rem 0;
        background-color: var(--secondary-color);
        background-image: image.mobile('bg-mobile-about.svg');
        background-size: cover;
        background-repeat: no-repeat;
        @include responsive(laptop){
            background-image: none;
            z-index: 0;
            top: 0;
        }
    }

    @include responsive(laptop){
        display: flex;
        background-color: var(--secondary-color);
        z-index: 0;
        
    }
}