@use '../mixins/responsive.scss' as*;
@use '../mixins/pseudo.scss' as*;
@use '../mixins/hover.scss' as*;

.button {
    position: relative;
    display: block;
    width: 12.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 1rem;
    text-align: center;
    font-family: var(--secondary-font);
    font-weight: 700;
    border: 1px solid var(--white-text);
    color: var(--white-text);

    @include hover {
        &:hover {
            color: var(--primary-color);
        }
    }

    &--animation {
        &::before {
            @include pseudo(0%, 100%) {
                top: 50%;
                left: 50%;
                background-color: var(--white-text);
                transform: translate(-50%, -50%);
                z-index: -1;
                transition: all 0.6s ease;
            }
        }

        @include hover {
            &:hover::before {
                width: 100%;
            }
        }

    }
}