@use '../mixins/flexbox.scss' as*;
@use '../mixins/responsive.scss' as*;
@use '../mixins/hover.scss' as*;
@use '../functions/image.scss';
@use '../mixins/pseudo.scss' as*;

.header {
    height: 100vh;
    padding: 2rem 2rem 0;
    position:relative;
    background-color: var(--primary-color);
    background-image: image.mobile('bg-mobile-header.svg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    &__top {
        @include flexbox(flex, row, nowrap, space-between, center);
        margin-bottom: 10rem;
    }
    @include responsive(tablet){
        background-image: image.tablet('bg-tablet-header.svg');
        background-size: cover;
        background-repeat: no-repeat;
        &__top{
            margin-bottom: 15rem;
        }
    }
    @include responsive(laptop){
        background-image: image.desktop('bg-desktop-header.svg');
        background-size: cover;
        background-repeat: no-repeat;
        &__top{
            height: 100px;
            margin-bottom: 10rem;
            background-color: black;
        }
    }
}