@use '../mixins/flexbox.scss' as *;
@use '../mixins/responsive.scss' as *;
@use '../mixins/hover.scss' as *;
@use '../functions/image.scss';
@use '../mixins/pseudo.scss' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: var(--z-index-negative);
  width: 100%;
  padding: 2rem 2rem 10rem;
  background-color: var(--primary-color);
  background-image: image.mobile('bg-mobile-header.svg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  @include responsive(tablet) {
    background-image: image.tablet('bg-tablet-header.svg');
  }

  @include responsive(laptop) {
    background-image: image.desktop('bg-desktop-header.svg');
  }

  &__top {
    @include flexbox(flex, row, nowrap, space-between, center);
    z-index: var(--z-index-10000);
    margin-bottom: 10rem;

    @include responsive(tablet) {
      margin-bottom: 15rem;
    }

    @include responsive(laptop) {
      height: 100px;
      margin-bottom: 10rem;
    }
  }
}
