@use '../mixins/responsive.scss' as*;
@use '../mixins/hover.scss' as*;

.image {
    transform: scale(1);
    transition:transform 0.5s;
    @include hover{
        &:hover{
            transform: scale(1.1);
        }
    }
    &--profile{
        clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 89%);
        filter: grayscale(1);
        transform: translateY(100px);
        opacity: 0;
        transition: transform 4s opacity 4s;
    
        @include responsive(laptop) {
            clip-path: none;
            width: 450px;
            margin-left: 10rem;
        }

    }
}

.transition-profile{
    transform: translateY(0);
    opacity: 1;
}