@use '../mixins/flexbox.scss' as*;
@use '../mixins/responsive.scss' as*;
@use '../mixins/hover.scss' as*;
@use '../mixins/pseudo.scss' as*;

.modal {
    position: fixed;
    top: 0;
    left: 0;
    @include flexbox(flex,column,nowrap,baseline,center);
    width: 100vw;
    height: 100vh;
    padding-top: 2rem;
    font-family: var(--secondary-font);
    background-color: rgb(0 0 0 / .8);
    color: var(--white-text);
    transform: scale(0);
    transition-duration: 1s;


    &--show {
        transform: scale(1);
        transition-duration: 1s;
    }

    &__title{
        margin-left: 5%;
        font-size: var(--title-l);
    }

    &__text {
        margin-left: 5%;
        font-size: var(--text-l);
    }

    &__image {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        transition: opacity 0.6s;

        &--fade-in {
            opacity: 1;
        }

        &--fade-out {
            opacity: 0;
        }

        &-container {
            width: 75%;
            
        }
        @include responsive(laptop){
           &-container{
            width: 40%;
           } 
        }
    }

    &__icon {
        width: 3%;
        min-width: 35px;
        position: absolute;
        top: 4%;
        right: 5%;

        &-left {
            top: 50%;
            left: 2%;
        }

        &-right {
            top: 50%;
            right: 2%;
        }
    }
}