@use '../mixins/flexbox.scss' as*;
@use '../mixins/responsive.scss' as*;

.text {
    color: var(--grey-text);
    font-family: var(--primary-font);
    line-height: 1.5rem;
    &--smaller{
        font-size: var(--text-xs);
    }

    @include responsive(tablet) {
        font-size: var(--text-m);
        line-height: 1.8rem;
        &--smaller{
            font-size: var(--text-s);
        }
    }
}