@use '../mixins/flexbox.scss' as*;
@use '../mixins/responsive.scss' as*;

.text {
    color: var(--grey-text);
    font-family: var(--primary-font);
    line-height: 1.5rem;
    transform: translateX(50px);
    opacity: 0;
    transition: transform 3s , opacity 3s;
    &--smaller{
        font-size: var(--text-s);
    }

    @include responsive(tablet) {
        font-size: var(--text-l);
        line-height: 1.8rem;
        &--smaller{
            font-size: var(--text-m);
        }
    }
}

.transition-text{
    transform: translateX(0);
    opacity: 1;
}