@use '../mixins/flexbox.scss' as*;
@use '../mixins/responsive.scss' as*;

.text {
    color: var(--grey-text);
    font-family: var(--primary-font);
    line-height: 1.5rem;
    @include responsive(laptop){
        font-size: var(--text-m);
    }
}