@use '../mixins/responsive.scss' as*;

.animation-start {
    animation: loading 28s infinite ease;
    @keyframes loading {
        to {
            rotate: -360deg;
        }
    }
}

.vector {
    &-skill {
        margin-bottom: 3rem;
        transform: scale(0);
        transition: transform 3s;


        @include responsive(tablet) {
            width: 15.625rem;
        }

        @include responsive(tablet) {
            width: 25rem;
        }
    }
}

// @keyframes loading {
//     0% {
//         transform: rotate(-360deg);
//     }

// }

.transition-vector {
    transform: scale(1);
}



