@use '../mixins/responsive.scss' as*;

.vector {
    &-skill {
        margin-bottom: 3rem;
        animation-name: loading;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        @include responsive(tablet) {
            width: 15.625rem;
        }

        @include responsive(tablet) {
            width: 25rem;
        }
    }
}

@keyframes loading {
    0% {
        transform: rotate(-360deg);
    }

}