:root {
  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'Roboto Condensed', sans-serif;
  /* Titles */
  --title-s: 1.25rem;
  --title-m: 2rem;
  --title-l: 3rem;
  --title-xl: 6rem;

  /* Textos */
  --text-s: 0.7rem;
  --text-m: 1rem;
  --text-l: 1.5rem;

  /* BORRAR Y SUSTITUIR */
  --menu-item: 2rem;
  --menu-item-desktop: 1rem;
  --button: 1rem;
}

$monserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto Condensed', sans-serif;
$main-title: 3rem;
$main-title-tablet: 6rem;
$title: 1.25rem;
$title-tablet: 2rem;
$menu-item: 1.5rem;
$menu-item-desktop: 1.25rem;
