:root {
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Roboto Condensed', sans-serif;
    --main-title: 3rem;
    --main-title-tablet: 6rem;
    --title: 1.25rem;
    --title-tablet: 2rem;
    --text-s:1rem;
    --text-m:1.5rem;
    --menu-item: 2rem;
    --menu-item-desktop: 1rem;
    --button: 1rem;
}

$monserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto Condensed', sans-serif;
$main-title: 3rem;
$main-title-tablet: 6rem;
$title: 1.25rem;
$title-tablet: 2rem;
$menu-item: 1.5rem;
$menu-item-desktop: 1.25rem;