:root {
  --primary-color: hsl(16, 100%, 50%);
  --secondary-color: hsl(311, 23%, 14%);
  --white-text: hsl(0, 0%, 100%);
  --grey-text: hsl(0, 0%, 85%);
  --z-index-negative: -1;
  --z-index-10: 10;
  --z-index-100: 100;
  --z-index-1000: 1000;
  --z-index-10000: 10000;
}

$primary-color: hsl(16, 100%, 50%);
$secondary-color: hsl(311, 23%, 14%);
$white-text: hsl(0, 0%, 100%);
$grey-text: hsl(0, 0%, 85%);