:root {
  --primary-color: hsl(16, 100%, 50%);
  --secondary-color: hsl(311, 23%, 14%);
  --white-text: hsl(0, 0%, 100%);
  --grey-text: hsl(0, 0%, 85%);
}

$primary-color: hsl(16, 100%, 50%);
$secondary-color: hsl(311, 23%, 14%);
$white-text: hsl(0, 0%, 100%);
$grey-text: hsl(0, 0%, 85%);